.container {
  padding-bottom: 6px;
  padding-top: 6px;
}

.helperText {
  font-size: 8pt;
  font-style: italic;
  margin: 0;
}

.inputRow {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.inputText {
  border-radius: 5px;
  flex: 1;
  font-size: 10pt;
  max-height: 100px;
  min-height: 30px;
  outline: none;
  padding: 2px;
  resize: none;
}

.submitButton {
  border-radius: 18px;
  border: 1px solid grey;
  font-size: 12pt;
  height: 36px;
  margin-left: 10px;
  padding: 0px;
  width: 36px;
}
